@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

body {
  background-color: #E2E1E1;
}

.toc a {
  @apply text-seraphim-gold font-bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.prose hr {
  border-color: rgb(157, 142, 108);
  border-top-width: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gw2-icon-small {
  width: 32px;
  height: 32px;
  display: inline;
  margin-right: 0.5em;
}

.gw2-icon-inline {
  width: 24px;
  height: 24px;
  display: inline;
  margin-top: auto !important;
  margin-right: 4px;
}

.gw2-icon-coin {
  width: 15px;
  height: 15px;
  display: inherit;
  margin-left: 2px;
}

.gw2-info-inline {
  display: inline;
  margin-right: 3px;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
