---
layout: projects
description: Tools, helpers and other projects made by members of the guild
---

<a href="/" class="text-seraphim-gold font-bold text-lg">← Home</a>
<p class="w-full max-w-2xl my-8 px-4 lg:mx-0">{{description}}</p>
<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">
    {% if projects.projects %}

        {% for item in projects.projects %}
            <a href="{{item.url}}" class="p-5 border rounded border-seraphim-grey hover:border-seraphim-gold bg-seraphim-grey-light">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div>